#
# Proyecto
#

*.iml
.gradle
/local.properties
.idea/
misc.xml
.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

#
# Carpetas personales
#
/tmp
/app/src/main/java/com/integrame/app/tmp

#
# Backend local
#
/[Ss]erver
/[Bb]ackend

